<div class="modal-header">
    <h4 class="modal-title">Password Required</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">
    <div class="my-3">
        <input type="password" class="form-control form-control-lg fs-1 bg-light text-center" (keyup.enter)="onSubmit()"
        [(ngModel)]="password" autofocus #formRow id="password_input" autocomplete="new-password">
    </div>

    <div class="row g-1">
        <div class="col-6">
            <div class="d-grid">
                <button type="button" class="btn btn-lg btn-outline-dark" (click)="close()">Cancel</button>
            </div>
    
        </div>
        <div class="col-6">
            <div class="d-grid">
                <button type="button" class="btn btn-lg btn-dark" (click)="onSubmit()">Submit</button>
            </div>
        </div>
    </div>
</div>
 