<div class="container mt-1" *ngIf="action =='cart'">
    <div class="row g-2">
        <div class="col-12 text-center">
            <img src="./assets/img/logo.png" width="400">
        </div>
        <div class="col-12">

            <!-- <div class="row  mb-2">
                <div class="col-4 align-self-center">
                    <img src="./assets/img/logo.png" width="100%">

                </div>
                <div class="col-8 align-self-center">
                    <div class="mb-1" *ngIf="kioskUuid">
                        <div class="form-control form-control-lg text-end px-1 font-cart rounded-0 ">Rp {{bill['total']
                            | number}} &nbsp;</div>
                    </div>

                    <div class="mb-1 text-end" *ngIf="transactionId">
                        <div class="font-cart cart-sm">
                            <strong>BILL : {{transactionId}}</strong>
                        </div>
                        <div class="font-cart cart-sm">
                            <strong>DATE : {{transactionDate | date:'medium'}}</strong>
                        </div>
                    </div>
                </div>
            </div> -->
            <div *ngIf="kioskUuid">
                <div class="bg-white  p-2 border cart cart-height " #chatContainer>

                    <div class="row g-1 py-1" *ngFor="let x of items">
                        <div class="col-8">
                            <div>{{x.barcode}} {{x.description}} <span>{{x.note}}</span> </div>
                            <div *ngIf="x.promotionId !== '0'">*{{x.promotionId}} {{x.promotionDescription}}*</div>
                            <div class="ms-2" *ngIf="x.originPrice > 1"> {{ x.originPrice | number}} X {{ x.qty }}  </div>
                            <div class="ms-2" *ngIf="x.originPrice == 1"> CUSTOME PRICE {{ x.price | number}} X {{ x.qty  }} </div> 
                            <div class="ms-2" *ngIf="x.memberDiscountAmount > 0"> *DISC {{x.memberDiscountAmount |  number}}  </div>
                        </div>
                        <div class="col-4 text-end">{{x.total | number}}</div>
                    </div>
                    <hr>
                    <div class="row g-1 mb-1">
                        <div class="col-8 ">SUB TOTAL</div>
                        <div class="col-4 text-end">{{bill['originPrice'] | number}} </div>
                    </div>
                    <div class="row g-1 mb-1">
                        <div class="col-8 font-cart">DISCOUNT</div>
                        <div class="col-4 text-end">{{bill['discount'] | number}}</div>

                    </div>
                    <div class="row g-1 mb-1">
                        <div class="col-8 font-cart">TOTAL</div>
                        <div class="col-4 text-end"><strong>{{bill['total'] | number}}</strong></div>

                    </div>
                    <div class="text-center my-2" *ngIf="ilock == 1">
                        CLOSED
                    </div>


                    <div *ngIf="ilock == 1">
                        <div *ngIf="!transactionId">


                            <div class="mb-2">
                                <strong class="font-cart">PAYMENT</strong>
                            </div>

                            <div class="row g-1 mb-1" *ngFor="let x of kioskPaid">
                                <div class="col-8 ">{{x.label}} </div>
                                <div class="col-4 text-end">{{x.paid | number}}</div>
                            </div>
                            <div class="row g-1 mb-1">
                                <div class="col-8 ">REMAINING </div>
                                <div class="col-4 text-end text-danger">{{(total.bill - (total.paid))*-1 | number}}
                                </div>
                            </div>
                        </div>
                        <div class="border p-3 bg-white" *ngIf="transactionId">
                            <div class="mb-2">
                                <div class="mb-1">
                                    <strong class="font-cart">SUMMARY</strong>
                                </div>

                                <table class="table table-sm table-bordered">
                                    <tr>
                                        <td class="font-cart cart-sm"> BKP </td>
                                        <td class="text-end font-cart cart-sm text-primary">{{summary.bkp | number}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="font-cart cart-sm"> PPN </td>
                                        <td class="text-end font-cart cart-sm text-primary">{{summary.ppn | number}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="font-cart cart-sm"> DPP </td>
                                        <td class="text-end font-cart cart-sm text-primary">{{summary.dpp | number}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="font-cart cart-sm"> NON BKP </td>
                                        <td class="text-end font-cart cart-sm text-primary">{{summary.nonBkp | number}}
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="mb-2">
                                <div class="mb-1">
                                    <strong class="font-cart">PAYMENT METHOD</strong>
                                </div>
                                <table class="table table-sm table-bordered">
                                    <tr *ngFor="let x of paymentMethod">
                                        <td class="font-cart cart-sm"> {{x.label}}</td>
                                        <td class="text-end font-cart cart-sm text-primary">{{x.amount | number}}</td>
                                    </tr>
                                </table>
                            </div>

                            <div class="mb-2">
                                <div class="mb-1">
                                    <strong class="font-cart">BALANCE</strong>
                                </div>

                                <table class="table table-sm table-bordered" *ngFor="let x of balance">
                                    <tr>
                                        <td class="font-cart cart-sm"> PEMBAYARAN CASH </td>
                                        <td class="text-end font-cart cart-sm text-primary">{{x.caseIn | number}}</td>
                                    </tr>
                                    <tr>
                                        <td class="font-cart cart-sm"> KEMBALI </td>
                                        <td class="text-end font-cart cart-sm text-primary">{{x.caseOut | number}}</td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>





                    <div class="me-2 my-4">
                        <div *ngFor="let item of promo_fixed" class="mb-1">
                            <span [innerHTML]=" item['detail']['description'] "></span>
                        </div>
                        <div [innerHTML]="tebus_murah" class="mb-1"> </div>
                    </div>
                    <div class="me-2 mb-4">
                        <div *ngFor="let item of promo_fixed" class="mb-2">
                            {{ item['detail']['reminder'] }}
                        </div>
                    </div>


                </div>
            </div>

            <div *ngIf="transactionId">
                <div class="border p-1 bg-white shadow-sm" style="max-height: 85vh; overflow-y: scroll;">
                    <pre>{{outputPrint}}</pre>
                </div>
            </div>
        </div>

        <div class="col-3" class="d-none">


            <div *ngIf="kioskUuid">
                <div class="border p-3 bg-white rounded mb-2">
                    <table class="table table-sm table-bordered">
                        <tr>
                            <td class="font-cart cart-sm">SUB TOTAL</td>
                            <td class="text-end font-cart cart-sm text-primary"> {{bill['originPrice'] | number}}
                            </td>
                        </tr>
                        <tr>
                            <td class="font-cart cart-sm">DISCOUNT </td>
                            <td class="text-end font-cart cart-sm text-primary"> {{bill['discount'] | number}} </td>
                        </tr>
                        <tr>
                            <td class="font-cart cart-sm">TOTAL </td>
                            <td class="text-end font-cart cart-sm text-primary"> {{bill['total'] | number}} </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div *ngIf="ilock == 1">
                <div class="border p-3 bg-white" *ngIf="!transactionId">

                    <div class="mb-2">
                        <strong class="font-cart">PAYMENT</strong>
                    </div>

                    <table class="table table-sm table-bordered">
                        <tr *ngFor="let x of kioskPaid">
                            <td class="font-cart cart-sm">{{x.label}} </td>
                            <td class="text-end font-cart cart-sm text-primary">{{x.paid | number}}</td>
                        </tr>
                        <tr>
                            <td class="font-cart cart-sm">REMAINING </td>
                            <td class="text-end font-cart cart-sm text-danger">{{(total.bill - (total.paid))*-1 |
                                number}}</td>
                        </tr>
                    </table>
                </div>
                <div class="border p-3 bg-white" *ngIf="transactionId">
                    <div class="mb-2">
                        <div class="mb-1">
                            <strong class="font-cart">SUMMARY</strong>
                        </div>

                        <table class="table table-sm table-bordered">
                            <tr>
                                <td class="font-cart cart-sm"> BKP </td>
                                <td class="text-end font-cart cart-sm text-primary">{{summary.bkp | number}}</td>
                            </tr>
                            <tr>
                                <td class="font-cart cart-sm"> PPN </td>
                                <td class="text-end font-cart cart-sm text-primary">{{summary.ppn | number}}</td>
                            </tr>
                            <tr>
                                <td class="font-cart cart-sm"> DPP </td>
                                <td class="text-end font-cart cart-sm text-primary">{{summary.dpp | number}}</td>
                            </tr>
                            <tr>
                                <td class="font-cart cart-sm"> NON BKP </td>
                                <td class="text-end font-cart cart-sm text-primary">{{summary.nonBkp | number}}</td>
                            </tr>
                        </table>
                    </div>

                    <div class="mb-2">
                        <div class="mb-1">
                            <strong class="font-cart">PAYMENT METHOD</strong>
                        </div>
                        <table class="table table-sm table-bordered">
                            <tr *ngFor="let x of paymentMethod">
                                <td class="font-cart cart-sm"> {{x.label}}</td>
                                <td class="text-end font-cart cart-sm text-primary">{{x.amount | number}}</td>
                            </tr>
                        </table>
                    </div>

                    <div class="mb-2">
                        <div class="mb-1">
                            <strong class="font-cart">BALANCE</strong>
                        </div>

                        <table class="table table-sm table-bordered" *ngFor="let x of balance">
                            <tr>
                                <td class="font-cart cart-sm"> PEMBAYARAN CASH </td>
                                <td class="text-end font-cart cart-sm text-primary">{{x.caseIn | number}}</td>
                            </tr>
                            <tr>
                                <td class="font-cart cart-sm"> KEMBALI </td>
                                <td class="text-end font-cart cart-sm text-primary">{{x.caseOut | number}}</td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>

            <!-- disalbe -->
            <div *ngIf="transactionId">
                <div class="border p-2 bg-white">
                    <div class="mb-2">
                        <div class="mb-1">
                            <div class="font-cart cart-sm">
                                BILL : {{transactionId}}
                            </div>
                            <div class="font-cart cart-sm">
                                DATE : {{transactionDate | date:'medium'}}
                            </div>
                        </div>
                        <strong class="font-cart">SUMMARY</strong>
                        <table class="table table-bordered">

                            <tr>
                                <td class="font-cart cart-sm">SUBTOTAL</td>
                                <td class="text-end font-cart cart-sm text-primary"> {{summary.total | number}}
                                </td>
                            </tr>
                            <tr>
                                <td class="font-cart cart-sm">DISCOUNT</td>
                                <td class="text-end font-cart cart-sm text-primary"> {{summary.discount | number}}
                                </td>
                            </tr>
                            <tr>
                                <td class="font-cart cart-sm">DISCOUNT MEMBER</td>
                                <td class="text-end font-cart cart-sm text-primary"> {{summary.discountMember |
                                    number}}
                                </td>
                            </tr>
                            <tr>
                                <td class="font-cart cart-sm">VOUCHER</td>
                                <td class="text-end font-cart cart-sm text-primary"> {{summary.voucher | number}}
                                </td>
                            </tr>
                            <tr>
                                <td class="font-cart cart-sm">TOTAL (SETELAH PAJAK)</td>
                                <td class="text-end font-cart cart-sm text-primary"> {{summary.final | number}}
                                </td>
                            </tr>
                        </table>

                        <b>PAYMENT PAID METHOD </b>
                        <table class="table table-bordered">
                            <tr *ngFor="let x of paymentMethod">
                                <td class="font-cart cart-sm">{{x.label}} </td>
                                <td class="text-end font-cart cart-sm text-primary">{{x.amount | number}}</td>
                            </tr>
                        </table>

                        <b>PAYMENT CASH</b>
                        <table class="table table-bordered" *ngFor="let x of balance">
                            <tr>
                                <td class="font-cart cart-sm">PEMBAYARAN CASH</td>
                                <td class="text-end font-cart cart-sm text-primary">{{x.caseIn | number}}</td>
                            </tr>
                            <tr>
                                <td class="font-cart cart-sm">KEMBALIAN</td>
                                <td class="text-end font-cart cart-sm text-primary">{{x.caseOut | number}}</td>
                            </tr>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" *ngIf="action =='home' || action == ''">
    <div class="row">
        <div class="col-12 my-5 text-center">
            <div>
                <img src="./assets/img/logo.png" width="400">
            </div>
            <img src="./assets/img/4115320.png" width="500"> 
        </div>
    </div>
</div>