<app-header class="noprint"></app-header>

<div class="container-fluid noprint">
    <div class="row">


        <div class="col-md-5 col-12">
            <div class="row g-2">
                <div class="col-4 align-self-center">

                    <img src="./assets/img/logo.png" width="100%">
                </div>
                <div class="col-8">
                    <div class="mb-1">
                        <h1>BILL</h1>
                    </div>
                </div>
            </div>

            <div class="border p-1 bg-white shadow-sm" style="width: 420px; max-height: 80vh; overflow-y: scroll;">

                <pre>{{outputPrint}}</pre>
            </div>
        </div>

        <div class="col-md-7 col-12">
            <div class="row">
                <div class="col-12">
                    <div class="mb-1">
                        <h1>COPY BILL : {{copy}}</h1>
                    </div>
                </div>
            </div>

            <div class="row g-1">
                <div class="col-md-7 col-12 mb-3">
                    <div class="d-grid">
                        <button type="button" (click)="fnPrinting()"
                            class="btn btn-lg btn-success rounded-0 py-4">PRINT</button>
                    </div>
                </div>
                <div class="col-md-7 col-12 ">
                    <div class="d-grid">
                        <button type="button" (click)="home()"
                            class="btn btn-lg btn-dark rounded-0 py-4">FINISH</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<div class="container-fluid printonly">
    <div class="row">
        <div class="col-12">
            <pre>{{outputPrint}}</pre>
        </div>
    </div>
</div>