<app-header></app-header>

<div class="container-fluid">
    <div class="row">
        <div class="col-1">
            <app-widget1></app-widget1>
        </div>

        <div class="col-5">
            <div class="p-1">
                <small>Total Copy : {{copy}}</small>
            </div> 
            <div class="border p-1 bg-white shadow-sm" style="width: 420px; max-height: 85vh; overflow-y: scroll;">
                <pre>{{outputPrint}}</pre> 
            </div> 
        </div>

        <div class="col-2">
            <div class="d-grid mb-2">
                <button type="button" (click)="fnPrinting()" class="btn btn-lg btn-success rounded-0">PRINT</button>
            </div>
            <div class="d-grid">
                <button type="button" (click)="home()" class="btn btn-lg btn-dark rounded-0">FINISH</button>
            </div>
        </div>
       
    </div>
</div>

 