<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-12">
           
        </div>
        <div class="col-12 text-center mb-2">
            <h1> WELCOME BACK</h1>
            <button type="button" class="btn btn-lg btn-primary mx-1" (click)="getKioskUuid();">OPEN CART</button> 
            <a class="btn btn-lg btn-primary mx-1"   [routerLink]="[ '/visitor' ]">VISITOR MONITOR</a>
        </div>

        <table class="table table-hover border table-bordered">
            <thead>
                <tr>
                    <th>NO</th>
                    <th>PARKING</th>
                    <th></th> 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let x of parking; let i = index">
                    <td> {{i+1}} </td>
                    <td> {{x.kioskUuid}} </td>
                    <td>
                        <button type="button" (click)="setCart(x)" class="btn btn-sm btn-primary">SELECT</button>
                    </td> 
                </tr>
                
            </tbody>
           
        </table>
    </div>
</div>