<app-header></app-header>

 
    <div class="container">
        <div class="row mb-3"> 
            <div class="col-6">
                <h1 class="lh-sm mb-0 pb-0">POS HOME</h1> 
            </div>
            <div class="col-6  text-end">
                <strong>VER {{ver}} {{prod}}</strong>
            </div>
        </div>

        <div class="row g-2">
            
            <div class="col-4">
                <a (click)="getKioskUuid();">
                    <img src="./assets/img/4115320.jpg" class="border shadow-sm rounded" [ngClass]="{'img-disable': this.cashIn <= 0}" width="100%">
                    <div class="text-center mt-2">
                       <strong> OPEN NEW CART</strong>
                    </div>
                </a>
            </div>
         
            <div class="col-4">
                <a target="_blank" [routerLink]="[ '/visitor' ]">
                    <img src="./assets/img/4023504.jpg" class="border shadow-sm rounded" width="100%">
                     <div class="text-center mt-2">
                        <strong> VISITOR MONITOR</strong>
                     </div>
                </a>
            </div>

            <div class="col-4"> 
                <a [routerLink]="[ '/parking' ]">
                    <img src="./assets/img/queue.jpg" [ngClass]="{'img-disable': parkingTotal < 1}" class="border shadow-sm rounded" width="100%">
                    <div class="text-center mt-2">
                        <strong>{{parkingTotal < 1 ? "NO" : parkingTotal}} PARKING</strong>
                     </div>
                </a>
            </div>
         
        </div>
    </div>
 

<!-- <div class="container">
     
    <div class="row">

        <table class="table table-hover border table-bordered">
            <thead>
                <tr>
                    <th>NO</th>
                    <th>PARKING</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let x of parking; let i = index">
                    <td> {{i+1}} </td>
                    <td> {{x.kioskUuid}} </td>
                    <td>
                        <button type="button" (click)="setCart(x)" class="btn btn-sm btn-primary">SELECT</button>
                    </td>
                </tr>

            </tbody>

        </table>
    </div>
</div> -->