<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col-12 mb-2">
            <input type="text" class="form-control" [(ngModel)]="searchTrans" placeholder="Search TransactionId / Bill"
                (change)="fnSearch();" #formRow (keyup.enter)="formRow.blur()">
        </div>
    </div>
    <div class="row g-2">
        <div class="col-4">
            <div *ngFor="let x of items" (click)="fnDetail(x)" class="border bg-white p-2">
                <div class="row">
                    <div class="col-6 mb-2"><b> {{x.id}}</b></div>
                    <div class="col-6 mb-2 text-end"> <b> {{x.transaction_date}}</b></div>

                    <div class="col-6">
                        <small>Cashier ID</small>
                        <div> {{x.cashierId}} </div>
                    </div>
                    <div class="col-6 text-end">
                        <small> Total </small>
                        <div>Rp {{x.total | number}}</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-8">
            <table class="table bg-white border">
                <thead>
                    <tr>
                        <th></th>
                        <td>Description</td>
                        <td class="text-end">Price</td>
                        <td>Refund Ticket</td>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of detail; let i = index" (click)="fnCheckItem(i)">
                        <td>
                            <div *ngIf="x.refund == '' ">
                                <i *ngIf="x.checkbox == '' " class="bi bi-square"></i>
                                <i *ngIf="x.checkbox == true " class="bi bi-check-square-fill text-primary"></i>

                            </div>
                        </td>

                        <td>
                            <div>
                                {{x.description}}
                            </div>
                            <div>
                                {{x.promotion}}
                            </div>
                        </td>
                        <td class="text-end">{{x.price | number}}</td>
                        <td class="">{{x.refund}}</td>

                    </tr>

                </tbody>
            </table>

            <div class="sticky-bottom" *ngIf="total() > 0">
                <div class="bg-white border shadow">
                    <div class="row">
                        <div class="col-6">
                            <div class="p-2">
                                <h3>Total Request Refund</h3>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="p-2 text-end">
                                <h3>{{total() | number}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row g-1">
                        <div class="col">
                            <div class="d-grid">
                                <button type="button" [disabled]="total() <= 0" class="btn btn-warning m-2"
                                    (click)="fnExchange()">
                                    EXCHANGE
                                </button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-grid">
                                <button type="button" class="btn btn-danger m-2" (click)="fnRefund()">
                                    REFUND
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>