<app-header></app-header>

<div class="container">
    <div class="row mb-4">
        <div class="col-6 ">
            <div class="d-flex">
                <div> <a (click)="back();" class="btn  btn-dark  border">Back</a></div>
                <div class="mx-4">
                    <h4>settlement</h4>
                </div>
            </div>
        </div>  
        
        <div class="col-6 text-end" >
            <button type="button" *ngIf="items.length > 0" class="btn btn-primary mx-1" (click)="onSetSettlement();">SET SETTLEMENT</button>
            <a class="btn btn-secondary mx-1" [routerLink]="[ '/setting/settlement/history' ]">History</a>
        </div>
    </div>
    <div class="row">
        
        <div class="col-12">
            
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>ID</th>
                        <th>Total</th>
                        <th>Cashier ID</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of items; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{x.transaction_date}}</td>
                        <td>{{x.id}}</td>
                        <td class="text-end">Rp {{x.total | number}}</td> 
                        <td><code>{{x.cashierId}}</code></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>