<div class="modal-header">
    <strong class="modal-title" id="modal-basic-title">ITEM TEBUS MURAH, CART {{kioskUuid}}</strong>
    <a class="btn-close" (click)="close()"></a>
</div>
<div class="modal-body">
    <div class="mb-3"> 
        <input type="text" class="form-control form-control-lg" [(ngModel)]="keyword"  (ngModelChange)="onSearchChange()"
        placeholder="search by Description / Barcode / Item ID">
    </div>
    <div class="border p-1 maxHeight"  *ngIf="loading != true">

        <div *ngIf="items.length <= 0">

            <h4 class="m-5 text-center">Total Harga belum mencapai untuk tebus murah</h4>


        </div>

        <div *ngIf="items.length > 0">

            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Item ID </th>
                        <th>Description </th>
                        <th class="text-end">Price </th> 
                        <th class="text-end">Avaiable</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of items" (click)="onTb(x)" >
                        <td *ngIf="(x.maxItem - x.inCart) > 0">{{x.itemId}}</td>
                        <td *ngIf="(x.maxItem - x.inCart) > 0">{{x.description}} 
                            <div>
                                <small>Min Trans. {{x.minTransaction | number}},
                                    Until {{x.exp_date | date}}
                                </small> 
                            </div>
                            <div>
                                <code>{{x.barcode}}</code>
                            </div>
                        </td>
                        <td *ngIf="(x.maxItem - x.inCart) > 0" class="text-end">{{x.price | number}}</td> 
                        <td *ngIf="(x.maxItem - x.inCart) > 0" class="text-end">{{x.maxItem - x.inCart | number}}</td>

                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
 