<app-header></app-header>

<div class="container">
    <div class="row mb-4">
        <div class="col-12 ">
            <div class="d-flex">
                <div> <a (click)="back();" class="btn  btn-dark  border">Back</a></div>
                <div class="mx-4">
                    <h4>settlement</h4>
                </div>
            </div>
        </div>  
         
    </div>
    <div class="row">
        
        <div class="col-12">
            
            <table class="table table-bordered">
                <thead>
                    <tr> 
                        <th>Date</th> 
                        <th>ID</th>
                        <th class="text-end">Total</th>
                        <th class="text-end">Amount</th> 
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of items; let i = index"> 
                        <td>{{x.input_date}}</td> 
                        <td>{{x.id}}</td>
                        <td class="text-end">{{x.total | number}}</td> 
                        <td class="text-end">Rp {{x.amount | number}}</td> 
                        <td><a target="_blank" [routerLink]="[ '/setting/settlement/print' ]" [queryParams]="{id:x.id}">Reprint</a></td>  
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>