<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form>
    <h3>POS System</h3>

    <label for="username">Input Barcode</label>
    <input type="text" class="form-control border bg-white mb-3" [(ngModel)]="cashierId" name="cashierId" autofocus #formRow
        id="cashierId" (change)="scanner();" (keyup.enter)="formRow.blur()">

    <button type="button" class="btn btn-dark text-white mb-3" (click)="scanner();">Login</button>
    <div *ngIf="note != '' " class="mb-2 alert bg-warning">
        {{note}}
    </div>

    <div class="text-center copyright lh-sm mt-4"> 
        <small>Copyright</small><br>
        <small>PT Vlinder Solusi Informatika </small>  <br> 
        <small>Ver {{env.ver}}</small>
    </div>
</form>