<app-header></app-header>
<div class="container">
    <div class="row g-2">
        <div class="col-12 mb-4">
            <div class="d-flex">
                <div> <a (click)="back();" class="btn  btn-dark  border">Back</a></div>
                <div class="mx-4">
                    <h4>Select Parking</h4>
                </div>
            </div>
        </div>
        

        <div class="col-4" *ngFor="let x of items; let i = index">
           
                <div class="border p-2 text-center shadow-sm bg-white  ">
                    <h4>PARKING {{i+1}}</h4>
                    <div><code>{{x.kioskUuid}}</code></div>

                    <div class="row g-1 mt-2"> 
                        <div class="col-6 d-grid">
                            <a [routerLink]="[ '/cart' ]" class="btn btn-lg btn-primary" [queryParams]="{kioskUuid:x.kioskUuid}">
                                SELECT
                            </a>
                        </div>
                        <div class="col-6  d-grid">
                            <a  (click)="remove(x);" class="btn btn-lg btn-danger">
                                DELETE
                            </a>
                        </div>
                    </div>
                </div>
             
        </div>

    </div>
</div>