@font-face {
    font-family: 'RobotoMono';
    /* Ganti dengan nama font Anda */
    src: url('./assets/fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
    /* Ganti dengan path font Anda */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    /* Ganti dengan nama font Anda */
    src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
    /* Ganti dengan path font Anda */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    /* Ganti dengan nama font Anda */
    src: url('./assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
    /* Ganti dengan path font Anda */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Bold';
    /* Ganti dengan nama font Anda */
    src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
    /* Ganti dengan path font Anda */
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-roboto-mono: 'RobotoMono';
    --font-poppins: 'Poppins';
    --font-poppins-bold: 'Poppins-Bold';
    --font-poppins-extra-bold: 'Poppins-ExtraBold';

    --bg-color-gray: #f8f9fdff;


    --colorhunt-1 : #0C356A;
    --colorhunt-2 : #0174BE;
    --colorhunt-3 : #FFC436;
    --colorhunt-4 : #FFF0CE;
    
    --color-denger-1:#E74646;
    --color-denger-2:#FA9884; 
    
}

.btn{
    -webkit-border-radius: 0px;
    -moz-border-radius:  0px;
    border-radius: 0px;
}
.bg-header{
    background-color: var(--colorhunt-1);
}

.bg-warning {
    background-color: #FFFFDD !important;
}

.bg-danger {
    background-color: #FDE5EC !important;
}

.bg-success {
    background-color: #CEE6F3 !important;
}

.alert-warning{
    background-color: var(--colorhunt-3);
}
.btn-primary{
    background-color: #0A6EBD;
    border-color: #0A6EBD;
}
.btn-secondary {
    background-color: #A8A196;
    border-color: #A8A196;
}


.btn-success {
    background-color: #0B666A;
    border-color: #0B666A;
}
.bg-yellow{
    background-color: #fff9e6ff;
}
.btn-success:hover,
.btn-success:active:focus  {
    background-color: #35A29F;
}

body {
    background-color: var(--colorhunt-4);
    font-family: var(--font-poppins);
    /* background: url('./assets/bgn/bgn1.jpg') repeat;
    background-size: 30% auto; */

}

code {
    color: #000;
    font-size: 1rem;
}

button {
    font-family: var(--font-poppins-bold);
}
h1{
    font-family: var(--font-poppins-extra-bold);
}
.font-cart {
    font-family: var(--font-roboto-mono);
}
.font-xl{
    font-size: 2rem;
    font-family: var(--font-poppins-bold);
}
.cart,
.cart div {
    font-family: var(--font-roboto-mono);
    font-size: 0.9rem;
    line-height: 125%;
}
.cart-sm{
    font-size: 0.85rem;
}
.cart-height {
    height: calc(100vh - 125px);
    overflow-y: scroll;
}
.cart-height-full {
    height: calc(100vh - 57px);
    overflow-y: scroll;
}

.pointer,
a {
    cursor: pointer;
}

.notif {
    position: fixed;

    bottom: 35px;
    left: 0px;
    width: 100%;
    height: auto;
}

.notif .content {
    position: relative;
    width: 400px; 
    margin-left: 25px;
}

.table-sm td{
     font-size: 0.8rem;
}