<app-header></app-header>

<div class="container-fluid" *ngIf="close === true">
    <div class="row">
        <div class="col-1">
            <app-widget1></app-widget1>
        </div>
        <div class="offset-2 col-6">
            <div class="alert alert-warning text-center">
                <div> {{note}} </div>
                <div> <a [routerLink]="[ '/printing' ]" [queryParams]="{id : transactionId }">Print Receipt
                        Transaction</a> </div>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid" *ngIf="close !== true">
    <div class="row g-2">

        <div class="col-8">
            <div class="bg-light   p-2 border cart cart-height">
                <div class="bg-white px-3 py-2 border rounded mb-2 pointer" *ngFor="let x of items">

                    <div class="row g-1 ">
                        <div class="col-12">
                            <div>{{x.barcode}} - {{x.description}} </div>
                            <div *ngIf="x.promotionId !== '0'">*{{x.promotionDescription}}*</div>
                        </div>
                        <div class="col-10">
                            <div>{{x.qty}} x {{x.originPrice | number}}
                                <span class="me-4" *ngIf="x.discount > 0"> DISC ({{x.discount | number}})</span>
                            </div>
                        </div>
                        <div class="col-2 text-end">
                            {{x.total | number}}
                        </div>
                    </div>
                </div>
                <div class=" m-2">
                    <div *ngFor="let item of promo_fixed" class="mb-1">
                        {{ item['detail']['description'] }}
                    </div>
                </div>
                <hr>
                <div *ngIf="kioskPaid.length > 0">
                    <div class="mb-2">
                        <b>PAID</b>
                    </div>
                    <div class="mb-2">
                        <div class="p-2 border bg-white">

                            <div class="row g-1 mb-2" *ngFor="let x of kioskPaid">
                                <div class="col-7 lh-1">
                                    <small>{{x.label}}</small>
                                </div>
                                <div class="col-5 text-end lh-1">
                                    <small> Rp {{x.paid | number}}</small>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div>
                <small>Status Paid : {{close}}</small>

            </div>
        </div>



        <div class="col-2">

            <div class="mb-2">
                <div class="mb-1 border bg-warning px-2 py-1 text-end font-cart">
                    <small>BILL</small>
                    <h5>Rp {{total.bill | number}}</h5>
                </div>
                <div class="mb-1 border bg-success px-2 py-1 text-end font-cart">
                    <small> PAID</small>
                    <h5>{{total.paid | number}}</h5>
                </div>
                <div class="mb-1 border bg-danger px-2 py-1 text-end font-cart">
                    <small> REMAINING</small>
                    <h5>{{total.bill - (total.paid) | number}}</h5>
                </div>

            </div>
        </div>

        <div class="col-2">

            <div class="mb-2">
                <small>Select Payment Method</small>
            </div>
            <div class="d-grid mb-1" *ngFor="let x of paymentMethod">
                <button type="button" class="btn btn-lg rounded-0 btn-secondary"
                    (click)="open(contentPaymentMethod, x)">{{x.label}}</button>
            </div>
            <div class="d-grid mb-1">
                <button type="button" class="btn btn-lg rounded-0 btn-success" disabled>Voucher</button>
            </div>
        </div>

    </div>
</div>

<ng-template #contentPaymentMethod let-modal>
    <form (ngSubmit)="onSubmitPayment()" #heroForm="ngForm">
        <div class="modal-header">
            <strong class="modal-title" id="modal-basic-title">{{paymentMethodDetail.label}}</strong>
            <button type="button" class="btn btn-warning" (click)="modal.dismiss('Cross click')">CANCEL</button>
        </div>
        <div class="modal-body">


            <div class="mb-3">
                <div class="row g-1">
                    <div class="col">
                        <div class="border p-2 font-cart bg-warning text-end">
                            <small>BILL</small>
                            <h4>{{total.bill | number}}</h4>
                        </div>
                    </div>
                    <div class="col">
                        <div class="border  p-2 font-cart bg-success text-end">
                            <small>PAID</small>
                            <h4>{{total.paid | number}}</h4>
                        </div>
                    </div>
                    <div class="col">
                        <div class="border p-2 font-cart bg-danger text-end">
                            <small>REMAINING</small>
                            <h4> {{ ((total.bill - (total.paid +payment.amount) ) > 0 ? (total.bill - (total.paid
                                +payment.amount) )
                                : 0 )| number}}</h4>
                        </div>
                    </div>
                    <div class="col">
                        <div class="border p-2 font-cart bg-light text-end">
                            <small>CHANGE</small>
                            <h4>{{ fnChangeBill() | number}}</h4>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row">
                <div class="col-7">
                    <label for="amount">Amount <span [hidden]="amount.valid || amount.pristine"
                            class="text-danger">*</span></label>
                    <input type="text" autofocus class="form-control form-control-lg text-end fs-1" id="amount" required
                        [(ngModel)]="payment.amount" name="amount" currencyMask #amount="ngModel">

                    <div class="my-2">
                        <div class="row g-1 ">
                            <div class="col d-grid">
                                <button type="button" (click)="addAmount('7')" class="btn btn-lg fs-1 py-3">7</button>
                            </div>
                            <div class="col d-grid">
                                <button type="button" (click)="addAmount('8')" class="btn btn-lg fs-1  py-3">8</button>
                            </div>
                            <div class="col d-grid">
                                <button type="button" (click)="addAmount('9')" class="btn btn-lg fs-1  py-3">9</button>
                            </div>
                        </div>
                        <div class="row g-1 ">
                            <div class="col d-grid">
                                <button type="button" (click)="addAmount('4')" class="btn btn-lg fs-1  py-3">4</button>
                            </div>
                            <div class="col d-grid">
                                <button type="button" (click)="addAmount('5')" class="btn btn-lg fs-1  py-3">5</button>
                            </div>
                            <div class="col d-grid">
                                <button type="button" (click)="addAmount('6')" class="btn btn-lg fs-1  py-3">6</button>
                            </div>
                        </div>
                        <div class="row g-1 ">
                            <div class="col d-grid">
                                <button type="button" (click)="addAmount('1')" class="btn btn-lg fs-1  py-3">1</button>
                            </div>
                            <div class="col d-grid">
                                <button type="button" (click)="addAmount('2')" class="btn btn-lg fs-1  py-3">2</button>
                            </div>
                            <div class="col d-grid">
                                <button type="button" (click)="addAmount('3')" class="btn btn-lg fs-1  py-3">3</button>
                            </div>
                        </div>
                        <div class="row g-1 ">
                            <div class="col d-grid">
                                <button type="button" (click)="addAmount('00')"
                                    class="btn btn-lg fs-1  py-3">00</button>
                            </div>
                            <div class="col d-grid">
                                <button type="button" (click)="addAmount('000')"
                                    class="btn btn-lg fs-1  py-3">000</button>
                            </div>
                            <div class="col d-grid">
                                <!-- <button type="button" class="btn btn-lg fs-4  py-3"><strong>SUBMIT</strong></button> -->
                                <button type="submit" class="btn btn-lg fs-4 py-3 border-0"
                                    [disabled]="payment.amount == 0"><strong>SUBMIT</strong></button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="mb-3">
                        <div class="my-3">
                            <div class="row g-2">
                                <div class="col-6">
                                    <div class="d-grid mb-2">
                                        <button type="button" class="  btn  btn-lg btn-warning  "
                                            (click)="paymentCutLastOne()"><i
                                                class="bi bi-caret-right-fill fs-2"></i></button>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="d-grid mb-2">
                                        <button type="button" class="  btn  btn-lg btn-warning py-3"
                                            (click)="paymentAC()">AC</button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid mb-2">
                                <button type="button" class="me-1 btn btn-lg btn-success py-3"
                                    (click)="paymentAdd(5000)">+Rp
                                    5.000</button>
                            </div>
                            <div class="d-grid mb-2">
                                <button type="button" class="me-1 btn  btn-lg btn-success py-3"
                                    (click)="paymentAdd(10000)">+Rp 10.000</button>
                            </div>
                            <div class="d-grid mb-2">
                                <button type="button" class="me-1 btn  btn-lg btn-success py-3"
                                    (click)="paymentAdd(20000)">+Rp 20.000</button>
                            </div>
                            <div class="d-grid mb-2">
                                <button type="button" class="me-1 btn  btn-lg btn-success py-3"
                                    (click)="paymentAdd(50000)">+Rp 50.000</button>
                            </div>
                            <div class="d-grid mb-2">
                                <button type="button" class="me-1 btn  btn-lg btn-success py-3"
                                    (click)="paymentAdd(100000)">+Rp 100.000</button>
                            </div>


                            <!-- <div class="mb-3" [hidden]="paymentMethodDetail.paymentTypeId == 'CASH'">
                                <label>Card Id </label>
                                <input type="text" class="form-control" id="cardId" [(ngModel)]="payment.cardId"
                                    name="cardId" #cardId="ngModel">
                            </div> -->
                        </div>
                    </div>



                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark mx-2"
                        (click)="modal.close('Save click')">Cancel</button>
                    <button type="submit" class="btn btn-dark" [disabled]="!heroForm.form.valid">Submit</button>

                </div> -->
            </div>
        </div>
    </form>
</ng-template>