<app-header></app-header>

<div class="container-fluid" *ngIf="close === true">
    <div class="row">
        <div class="  col-12">
            <div class="alert alert-warning text-center">
                <div> {{note}} </div>
                <div> <a [routerLink]="[ '/printing' ]" class="btn btn-lg btn-primary"
                        [queryParams]="{id : transactionId }">Print Receipt Transaction</a> </div>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid" *ngIf="close !== true">
    <div class="row ">
        <div class="col-lg-5 col-12">
            <div class="row g-2">
                <div class="col-4 align-self-center">
                    <img src="./assets/img/logo.png" width="100%">
                </div>
                <div class="col-8 text-end">
                    <div class="mb-1">
                        <h1>PAYMENT</h1>
                    </div>
                </div>
            </div>
            <div class="bg-white p-2 border cart cart-height ">
                <div class="row g-1 py-1" [hidden]="!member">
                    <div class="col-12">
                        MEMBER : {{member | uppercase}}
                    </div>
                </div>
                <div class="row g-1 mb-2" *ngFor="let x of items">
                    <div class="col-8">
                        <div>{{x.barcode}} {{x.description}} <span>{{x.note}}</span> </div>
                        <div *ngIf="x.promotionId !== '0'">*{{x.promotionId}} {{x.promotionDescription}}*</div>
                        <div class="ms-2" *ngIf="x.originPrice > 1"> {{ x.originPrice | number}} X {{ x.qty }} </div>
                        <div class="ms-2" *ngIf="x.originPrice == 1"> CUSTOME PRICE {{ x.price | number}} X {{ x.qty }}
                        </div>
                        <div class="ms-2" *ngIf="x.discount > 0"> *DISC {{x.discount | number}} </div>
                        <div class="ms-2" *ngIf="x.memberDiscountAmount > 0"> *MEMBER DISC {{x.memberDiscountAmount |
                            number}} </div>
                    </div>
                    <div class="col-4 text-end">
                        <span *ngIf="x.totalPriceEdit > 0"><i class="bi bi-pencil-square"></i></span>
                        {{x.total | number}}
                        <span *ngIf="x.validationNota == '1' "><i class="bi bi-check-circle-fill"></i></span>
                    </div>
                </div>

                <div class="me-2 my-4">
                    <div *ngFor="let item of promo_fixed" class="mb-2">
                        <span [innerHTML]="item['detail']['description']"></span>
                    </div>
                </div>

                <div *ngIf="kioskPaid.length > 0">

                    <div class="mb-2">
                        <div class="row g-1 mb-2">
                            <div class="col-7"> <b>BILL</b></div>
                            <div class="col-5 text-end "> <b>{{total.bill | number}}</b> </div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="row g-1 mb-2">
                            <div class="col-7"> <b>REMAINING</b></div>
                            <div class="col-5 text-end text-danger"> ({{total.bill - (total.paid) | number}}) </div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <b>PAID</b>
                    </div>
                    <div class="mb-2">
                        <div class="row g-1 mb-2" *ngFor="let x of kioskPaid">
                            <div class="col-7">
                                <div class="ms-2">{{x.label}} {{x.paymentName}} {{x.voucherNumber}}</div>
                            </div>
                            <div class="col-5 text-end "> {{x.paid | number}} </div>
                        </div>
                    </div>

                    <div class="mb-2">
                        <div class="row g-1 mb-2">
                            <div class="col-7"><b>TOTAL PAID</b></div>
                            <div class="col-5 text-end "> <b>{{total.paid | number}}</b> </div>
                        </div>
                    </div>


                    <div class="mb-2">
                        <small>Status Paid : {{close}}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-7 col-12">

            <div class="row g-1 mb-3">
                <div class="col-8">
                    <input type="text" class="form-control form-control-lg text-end px-4 font-cart rounded-0 "
                        placeholder="INPUT BARCODE" [(ngModel)]="barcode" autofocus #formRow (change)="addBarcode();"
                        (keyup.enter)="formRow.blur()">
                </div>
                <div class="col-2">
                    <div class="d-grid">
                        <button type="button" class="btn  btn-warning align-self-center" (click)="backSpace()"
                            style="height: 3rem;">
                            <i class="bi bi-backspace-reverse-fill"></i>
                        </button>
                    </div>
                </div>
                <div class="col-2">
                    <div class="d-grid">
                        <button type="button" class="btn  btn-warning align-self-center"
                            style="height: 3rem;">ENTER</button>
                    </div>
                </div>
            </div>
            
            <div class="row g-1">
 
                <div class="col-4">
                    <div class="d-grid mb-1 ">
                        <button type="button" class="btn  btn-warning align-self-center" style="height: 4rem;"
                            (click)="open(contentPaymentCash, 'CASH')">CASH</button>
                    </div>
                </div>

                <div class="col-4">
                    <div class="d-grid mb-1 ">
                        <button type="button" class="btn  btn-warning align-self-center" style="height: 4rem;"
                            (click)="open(contentPaymentDebitCC, 'DEBITCC')">DEBIT CC</button>
                    </div>
                </div>

                <!-- <div class="col-4">
                    <div class="d-grid mb-1 ">
                        <button type="button" class="btn btn-warning align-self-center" style="height: 5rem;"
                            (click)="openComponentVoucher()">Voucher Open</button>
                    </div>
                </div> -->

                <div class="col-4">
                    <div class="d-grid mb-1 ">
                        <button type="button" class="btn btn-{{lock == true ? 'success':'warning'}} align-self-center"
                            style="height: 4rem;" (click)="openDiscountBill()">Discount Bill <i
                                class="bi bi-{{lock == true ? '':'un'}}lock-fill"></i></button>
                    </div>
                </div>

            </div>
            <div class="row g-1 mb-3">
                <div class="col-4" *ngFor="let x of edc">
                    <div class="d-grid mb-1 ">
                        <button type="button" class="btn shadow-md border btn-light align-self-center" style="min-height: 5rem;" >
                            <img [src]="x.image" width="100%">
                            <small>{{x.label}}</small>
                        </button> 
                    </div>
                </div>  

            </div>
            <div class="row g-1">
                <div class="col-4" [hidden]="ilock == '1'">
                    <div class="d-grid mb-1">
                        <button type="button" (click)="back()" class="btn btn-light align-self-center"
                            style="height: 4rem;">BACK</button>
                    </div>
                </div>
                <div class="col-4" [hidden]="lock">
                    <div class="d-grid mb-1">
                        <button type="button" (click)="closeAdmin()" class="btn btn-danger align-self-center"
                            style="height: 4rem;">CLOSE SUPERVISOR</button>
                    </div>
                </div>
            </div>



        </div>


    </div>
</div>

<ng-template #contentPaymentCash let-modal>
    <form (ngSubmit)="onSubmitPayment()" #heroForm="ngForm">
        <div class="modal-header">
            <strong class="modal-title" id="modal-basic-title">{{paymentMethodDetail.label}}</strong>
            <button type="button" class="btn btn-warning" (click)="modal.dismiss('Cross click')">CANCEL</button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <div class="row g-1">
                    <div class="col">
                        <div class="border p-2 font-cart bg-warning text-end">
                            <small>BILL</small>
                            <h4>{{total.bill | number}}</h4>
                        </div>
                    </div>
                    <div class="col">
                        <div class="border  p-2 font-cart bg-success text-end">
                            <small>PAID</small>
                            <h4>{{total.paid | number}}</h4>
                        </div>
                    </div>
                    <div class="col">
                        <div class="border p-2 font-cart bg-danger text-end">
                            <small>REMAINING</small>
                            <h4> ({{ ((total.bill - (total.paid +payment.amount) ) > 0 ? (total.bill - (total.paid
                                +payment.amount) ) : 0 )| number}})</h4>
                        </div>
                    </div>
                    <div class="col">
                        <div class="border p-2 font-cart bg-light text-end">
                            <small>CHANGE</small>
                            <h4>{{ fnChangeBill() | number}}</h4>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row">
                <div class="col-7">
                    <label for="amount">Amount <span [hidden]="amount.valid || amount.pristine"
                            class="text-danger">*</span></label>
                    <input type="text" autofocus class="form-control form-control-lg text-end fs-1" id="amount" required
                        [(ngModel)]="payment.amount" name="amount" currencyMask #amount="ngModel">

                    <div class="my-2">
                        <div class="row g-1 ">
                            <div class="col d-grid">
                                <button type="button" (click)="addAmount('7')" class="btn btn-lg fs-1 py-3">7</button>
                            </div>
                            <div class="col d-grid">
                                <button type="button" (click)="addAmount('8')" class="btn btn-lg fs-1  py-3">8</button>
                            </div>
                            <div class="col d-grid">
                                <button type="button" (click)="addAmount('9')" class="btn btn-lg fs-1  py-3">9</button>
                            </div>
                        </div>
                        <div class="row g-1 ">
                            <div class="col d-grid">
                                <button type="button" (click)="addAmount('4')" class="btn btn-lg fs-1  py-3">4</button>
                            </div>
                            <div class="col d-grid">
                                <button type="button" (click)="addAmount('5')" class="btn btn-lg fs-1  py-3">5</button>
                            </div>
                            <div class="col d-grid">
                                <button type="button" (click)="addAmount('6')" class="btn btn-lg fs-1  py-3">6</button>
                            </div>
                        </div>
                        <div class="row g-1 ">
                            <div class="col d-grid">
                                <button type="button" (click)="addAmount('1')" class="btn btn-lg fs-1  py-3">1</button>
                            </div>
                            <div class="col d-grid">
                                <button type="button" (click)="addAmount('2')" class="btn btn-lg fs-1  py-3">2</button>
                            </div>
                            <div class="col d-grid">
                                <button type="button" (click)="addAmount('3')" class="btn btn-lg fs-1  py-3">3</button>
                            </div>
                        </div>
                        <div class="row g-1 ">
                            <div class="col d-grid">
                                <button type="button" (click)="addAmount('0')" class="btn btn-lg fs-1  py-3">0</button>
                            </div>
                            <div class="col d-grid">
                                <button type="button" (click)="addAmount('00')"
                                    class="btn btn-lg fs-1  py-3">00</button>
                            </div>
                            <div class="col d-grid">
                                <button type="button" (click)="addAmount('000')"
                                    class="btn btn-lg fs-1  py-3">000</button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="mb-3">
                        <div class="my-3">
                            <div class="row g-2">
                                <div class="col-6">
                                    <div class="d-grid mb-2">
                                        <button type="button" class="  btn  btn-lg btn-warning  "
                                            (click)="paymentCutLastOne()"><i
                                                class="bi bi-caret-right-fill fs-2"></i></button>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="d-grid mb-2">
                                        <button type="button" class="  btn  btn-lg btn-warning py-3"
                                            (click)="paymentAC()">AC</button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid mb-2">
                                <button type="button" class="me-1 btn btn-lg btn-success py-3"
                                    (click)="paymentAdd(5000)">+Rp
                                    5.000</button>
                            </div>
                            <div class="d-grid mb-2">
                                <button type="button" class="me-1 btn  btn-lg btn-success py-3"
                                    (click)="paymentAdd(10000)">+Rp 10.000</button>
                            </div>

                            <div class="d-grid mb-2">
                                <button type="button" class="me-1 btn  btn-lg btn-success py-3"
                                    (click)="paymentAdd(50000)">+Rp 50.000</button>
                            </div>
                            <div class="d-grid mb-2">
                                <button type="button" class="me-1 btn  btn-lg btn-success py-3"
                                    (click)="paymentAdd(100000)">+Rp 100.000</button>
                            </div>

                            <div class="d-grid mb-2">
                                <button type="submit" class="btn btn-lg fs-4 py-3 btn-dark"
                                    [disabled]="payment.amount == 0"><strong>SUBMIT</strong></button>
                            </div>

                            <!-- <div class="mb-3" [hidden]="paymentMethodDetail.paymentTypeId == 'CASH'">
                                <label>Card Id </label>
                                <input type="text" class="form-control" id="cardId" [(ngModel)]="payment.cardId"
                                    name="cardId" #cardId="ngModel">
                            </div> -->
                        </div>
                    </div>



                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark mx-2"
                        (click)="modal.close('Save click')">Cancel</button>
                    <button type="submit" class="btn btn-dark" [disabled]="!heroForm.form.valid">Submit</button>

                </div> -->
            </div>
        </div>
    </form>
</ng-template>

<ng-template #contentPaymentDebitCC let-modal>
    <form (ngSubmit)="onSubmitPayment()" #heroForm="ngForm">
        <div class="modal-header">
            <strong class="modal-title" id="modal-basic-title">{{paymentMethodDetail.label}}</strong>
            <button type="button" class="btn btn-warning" (click)="modal.dismiss('Cross click')">CANCEL</button>
        </div>
        <div class="modal-body">
            <div class="row g-2" *ngIf="selectPaymentName == false">
                <div class="col-4" *ngFor="let x of paymentName">
                    <div class="d-grid">
                        <a href="javascript:;"
                            class="btn py-3 btn-{{selectPaymentName.id == x.id ? 'primary':'light' }} border mb-1 "
                            (click)="fnSelectPaymentName(x);">{{x.name}}</a>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="selectPaymentName != false && showApprovedCode == false">
                <div class="col-12 mb-2">
                    <strong>{{selectPaymentName.name}}</strong> <button type="button"
                        class="btn btn-sm btn-danger py-0 ms-3" (click)="selectPaymentName=false">Change Card</button>
                </div>
                <div class="mb-2">
                    <div class="row g-1">
                        <div class="col">
                            <div class="border p-2 font-cart bg-warning text-end">
                                <small>BILL</small>
                                <h4>{{total.bill | number}}</h4>
                            </div>
                        </div>
                        <div class="col">
                            <div class="border  p-2 font-cart bg-success text-end">
                                <small>PAID</small>
                                <h4>{{total.paid | number}}</h4>
                            </div>
                        </div>
                        <div class="col">
                            <div class="border p-2 font-cart bg-danger text-end">
                                <small>REMAINING</small>
                                <h4> ({{ ((total.bill - (total.paid +payment.amount) ) > 0 ? (total.bill - (total.paid
                                    +payment.amount) ) : 0 )| number}})</h4>
                            </div>
                        </div>
                        <div class="col">
                            <div class="border p-2 font-cart bg-light text-end">
                                <small>CHANGE</small>
                                <h4>{{ fnChangeBill() | number}}</h4>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-7">
                        <input type="text" autofocus class="form-control form-control-lg text-end fs-1" id="amount"
                            required [(ngModel)]="payment.amount" name="amount" currencyMask #amount="ngModel">

                        <div class="">
                            <div class="row g-1 ">
                                <div class="col d-grid">
                                    <button type="button" (click)="addAmount('7')"
                                        class="btn btn-lg fs-1 py-3">7</button>
                                </div>
                                <div class="col d-grid">
                                    <button type="button" (click)="addAmount('8')"
                                        class="btn btn-lg fs-1  py-3">8</button>
                                </div>
                                <div class="col d-grid">
                                    <button type="button" (click)="addAmount('9')"
                                        class="btn btn-lg fs-1  py-3">9</button>
                                </div>
                            </div>
                            <div class="row g-1 ">
                                <div class="col d-grid">
                                    <button type="button" (click)="addAmount('4')"
                                        class="btn btn-lg fs-1  py-3">4</button>
                                </div>
                                <div class="col d-grid">
                                    <button type="button" (click)="addAmount('5')"
                                        class="btn btn-lg fs-1  py-3">5</button>
                                </div>
                                <div class="col d-grid">
                                    <button type="button" (click)="addAmount('6')"
                                        class="btn btn-lg fs-1  py-3">6</button>
                                </div>
                            </div>
                            <div class="row g-1 ">
                                <div class="col d-grid">
                                    <button type="button" (click)="addAmount('1')"
                                        class="btn btn-lg fs-1  py-3">1</button>
                                </div>
                                <div class="col d-grid">
                                    <button type="button" (click)="addAmount('2')"
                                        class="btn btn-lg fs-1  py-3">2</button>
                                </div>
                                <div class="col d-grid">
                                    <button type="button" (click)="addAmount('3')"
                                        class="btn btn-lg fs-1  py-3">3</button>
                                </div>
                            </div>
                            <div class="row g-1 ">
                                <div class="col d-grid">
                                    <button type="button" (click)="addAmount('0')"
                                        class="btn btn-lg fs-1  py-3">0</button>
                                </div>
                                <div class="col d-grid">
                                    <button type="button" (click)="addAmount('00')"
                                        class="btn btn-lg fs-1  py-3">00</button>
                                </div>
                                <div class="col d-grid">
                                    <button type="button" (click)="addAmount('000')"
                                        class="btn btn-lg fs-1  py-3">000</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="mb-3">

                            <div class="row g-2">
                                <div class="col-6">
                                    <div class="d-grid mb-2">
                                        <button type="button" class="  btn  btn-lg btn-warning  "
                                            (click)="paymentCutLastOne()"><i
                                                class="bi bi-caret-right-fill fs-2"></i></button>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="d-grid mb-2">
                                        <button type="button" class="  btn  btn-lg btn-warning py-3"
                                            (click)="paymentAC()">AC</button>
                                    </div>
                                </div>
                            </div>

                            <div class="d-grid mb-2">
                                <button type="button" class="me-1 btn btn-lg btn-success py-3"
                                    (click)="paymentAdd(5000)">+Rp
                                    5.000</button>
                            </div>

                            <div class="d-grid mb-2">
                                <button type="button" class="me-1 btn  btn-lg btn-success py-3"
                                    (click)="paymentAdd(10000)">+Rp 10.000</button>
                            </div>

                            <div class="d-grid mb-2">
                                <button type="button" class="me-1 btn  btn-lg btn-success py-3"
                                    (click)="paymentAdd(50000)">+Rp 50.000</button>
                            </div>

                            <div class="d-grid mb-2">
                                <button type="button" class="me-1 btn  btn-lg btn-success py-3"
                                    (click)="paymentAdd(100000)">+Rp 100.000</button>
                            </div>

                            <div class="d-grid mb-2">
                                <button type="button" class="me-1 btn  btn-lg btn-dark py-3" (click)="showApprovedCode = true"
                                    [disabled]="payment.amount == 0"><strong>SUBMIT</strong></button>
                            </div>

                            <!-- <div class="mb-3" [hidden]="paymentMethodDetail.paymentTypeId == 'CASH'">
                                    <label>Card Id </label>
                                    <input type="text" class="form-control" id="cardId" [(ngModel)]="payment.cardId"
                                        name="cardId" #cardId="ngModel">
                            </div> -->

                        </div>



                    </div>

                </div>

            </div>
 

            <div class="row" *ngIf="showApprovedCode == true">

                <div class="col-12 my-2 text-center">
                    <strong>APPROVED CODE</strong>
                    <input type="text" [(ngModel)]="approvedCode" name="approvedCode" id="approvedCode" 
                    class="form-control form-control-lg fs-2 text-center bg-light">
                </div>

                <div class="col-12">

                    <div class="row g-1 ">
                        <div class="col d-grid">
                            <button type="button" (click)="addvalueApproveCode('7')" class="btn btn-lg fs-1 py-3">7</button>
                        </div>
                        <div class="col d-grid">
                            <button type="button" (click)="addvalueApproveCode('8')" class="btn btn-lg fs-1  py-3">8</button>
                        </div>
                        <div class="col d-grid">
                            <button type="button" (click)="addvalueApproveCode('9')" class="btn btn-lg fs-1  py-3">9</button>
                        </div>
                    </div>
                    <div class="row g-1 ">
                        <div class="col d-grid">
                            <button type="button" (click)="addvalueApproveCode('4')" class="btn btn-lg fs-1  py-3">4</button>
                        </div>
                        <div class="col d-grid">
                            <button type="button" (click)="addvalueApproveCode('5')" class="btn btn-lg fs-1  py-3">5</button>
                        </div>
                        <div class="col d-grid">
                            <button type="button" (click)="addvalueApproveCode('6')" class="btn btn-lg fs-1  py-3">6</button>
                        </div>
                    </div>
                    <div class="row g-1 ">
                        <div class="col d-grid">
                            <button type="button" (click)="addvalueApproveCode('1')" class="btn btn-lg fs-1  py-3">1</button>
                        </div>
                        <div class="col d-grid">
                            <button type="button" (click)="addvalueApproveCode('2')" class="btn btn-lg fs-1  py-3">2</button>
                        </div>
                        <div class="col d-grid">
                            <button type="button" (click)="addvalueApproveCode('3')" class="btn btn-lg fs-1  py-3">3</button>
                        </div>
                    </div>
                    <div class="row g-1 ">
                        <div class="col d-grid">
                            <button type="button" (click)="addvalueApproveCode('0')" class="btn btn-lg fs-1  py-3">0</button>
                        </div>
                        <div class="col d-grid">
                            <button type="button" class="btn  btn-lg btn-warning" (click)="paymentCutLastOne2()"><i
                                    class="bi bi-caret-right-fill fs-2"></i></button>
                        </div>
                        <div class="col d-grid">
                            <button type="button" class="btn  btn-lg btn-warning py-3" (click)="paymentAC2()">AC</button>
                        </div>

                    </div>
                    <div class="row g-1 mt-3">
                        <div class="d-grid">
                            <button type="submit" class="me-1 btn  btn-lg btn-dark py-3" 
                            [disabled]="payment.approvedCode == '' "><strong>SUBMIT</strong></button>
                        </div>
                    </div>

                  




                </div>

            </div>



        </div>
    </form>
</ng-template>



<ng-template #contentVoucher let-modal>
    <form (ngSubmit)="onSubmitPayment()" #heroForm="ngForm">
        <div class="modal-header">
            <strong class="modal-title" id="modal-basic-title">VOUCHER</strong>
            <button type="button" class="btn btn-warning" (click)="modal.dismiss('Cross click')">CANCEL</button>
        </div>

        <div class="modal-body">
            <div class="row g-1">
                <div class="col-12 text-center">
                    <img src="./assets/img/logo.png" width="80%" class="mb-3">
                    <div>
                        <strong>Please scan voucher barcode</strong>
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <input type="text" class="form-control form-control-lg text-end fs-1 text-uppercase"
                        id="voucherCode" required autofocus #formRow (change)="addVoucher();"
                        (keyup.enter)="formRow.blur()" [(ngModel)]="voucherCode" name="voucherCode" placeholder="">
                </div>
            </div>

            <div class="row g-1">

                <div class="col-12">
                    <div class="row g-1">
                        <div class="col-3">
                            <div class="d-grid mb-2">
                                <button type="button" class="btn btn-lg btn-warning  fs-4 "
                                    (click)="paymentCutLastOne()"><i class="bi bi-caret-right-fill "></i></button>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-grid mb-2">
                                <button type="button" class="btn btn-lg btn-warning fs-4 "
                                    (click)="fnVoucherAC()">AC</button>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-grid mb-2">
                                <button type="submit" class="btn btn-lg fs-4 btn-dark"
                                    [disabled]="payment.amount == 0"><strong>SUBMIT</strong></button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</ng-template>