<div class="bg-header py-2 border-bottom  mb-2 text-white">
    <div class="container-fluid">
        <div class="row g-1">
            <div class="col-lg-3 col-2 align-content-center">
             {{account['account']['name']}}
            </div>
            <div class="col-lg-6 col-2 text-center">
              {{terminalId}}  {{item ? " - Cart :"+item:""}}
            </div>
            <div class="col-lg-3 col-8 text-end align-content-center">
           
                <span class="mx-3">
                    <span *ngIf="statusServer == 'ON'">
                        <i class="bi bi-database-check"></i>
                    </span>
    
                    <span *ngIf="statusServer == 'OFF'">
                        <i class="bi bi-database-fill-slash"></i>
                    </span>
                    
                </span>
                <button type="button" class="btn btn-warning py-0 mx-1" [routerLink]="[ '/setting' ]">Setting</button>
                <button type="button" class="btn btn-dark py-0" (click)="logout();">Logout</button>
            </div>
        </div>
    </div>
</div>