<div class="bg-header py-2 border-bottom  mb-2 text-white">
    <div class="container-fluid">
        <div class="row g-0">
            <div class="col-3 align-content-center">
              Cashier : {{account['account']['name']}}
            </div>
            <div class="col-6 text-center">
               Terminal : {{terminalId}}  {{item ? " - Cart :"+item:""}}
            </div>
            <div class="col-3 text-end align-content-center">
           
                <span class="mx-3">
                    <span *ngIf="statusServer == 'ON'">
                        <i class="bi bi-wifi"></i>
                    </span>
    
                    <span *ngIf="statusServer == 'OFF'">
                        <i class="bi bi-wifi-off"></i>
                    </span>
                    
                </span>
                <button type="button" class="btn btn-warning py-0 mx-1" [routerLink]="[ '/setting' ]">Setting</button>
                <button type="button" class="btn btn-dark py-0" (click)="logout();">Logout</button>
            </div>
        </div>
    </div>
</div>