<app-header></app-header>

<div class="container ">
    <div class="row mb-3">
        <div class="col-6">
            <a (click)="back();" class="btn  btn-dark  border me-2">Back</a> 
        </div>
        <div class="col-6 text-end">  
            <button type="button" class="btn btn-primary" (click)="save()">Save</button>
        </div>
    </div>
 
    <div class="row g-1">
         
        <div class="col-3" *ngFor="let x of items; ; let i = index">
            <div class="border bg-white p-2">
                <div class="mb-2">
                    <strong>Function {{i+1}} :</strong>
                </div>
                <select class="form-control" [(ngModel)]="x.number">
                    <option [value]="0">0. Emtpy</option>
                    <option [value]="1">1. Search Item</option>
                    <option [value]="2">2. Add Qty</option>

                    <option [value]="3">3. Payment</option>
                    <option [value]="4">4. Edit Qty</option>
                    <option [value]="5">5. Cancel Trans</option>
                    <option [value]="6">6. Tebus Murah</option>
                    <option [value]="7">7. Update Price Rp 1</option>
                    <option [value]="8">8. Discount Manual</option>
                    <option [value]="9">9. Change Price</option>

                    <option [value]="12">12. lose Admin</option>
                </select>
            </div>
        </div>
 
    </div>

</div>