<app-header></app-header>

<div class="container my-5">
    <div class="row">
        <div class="col-12"> 
            <a class="btn btn-lg btn-primary rounded-0 m-1" [routerLink]="[ '/printing/history' ]">PRINTING HISTORY</a> 
            <a class="btn btn-lg btn-primary rounded-0 m-1" [routerLink]="[ '/printing/history' ]">BEGINNING BALANCE</a> 
            <a class="btn btn-lg btn-primary rounded-0 m-1" [routerLink]="[ '/setting/settlement' ]">SETTLEMENT </a> 
            
        </div>
    </div>
</div>