<app-header></app-header>

<div class="container setting">
    <div class="row mb-4">
        <div class="col-4">
            <a (click)="back();" class="btn  btn-dark  border">Back</a>
        </div>
        <div class="col-8 text-end">
            <h1 class="lh-sm mb-0 pb-0">POS SETTING</h1>
            <strong>VER {{ver}} {{prod}}</strong>
        </div>
    </div>
    <div class="row g-2">
        <div class="col-4 d-grid"> 
            <a class="btn  btn-light rounded-0 py-2 border shadow-sm" [routerLink]="[ '/' ]">
                <img src="./assets/icon/icons8-home-page-96.png" width="64" >
                <div>HOME</div>
            </a>
        </div>
        <div class="col-4 d-grid"> 
            <a class="btn  btn-light rounded-0 py-2 border shadow-sm" [routerLink]="[ '/setting/configuration' ]">
                <img src="./assets/icon/icons8-imac-settings-96.png" width="64" >
                <div>CONFIGURATION</div>
            </a>
        </div>
        <div class="col-4 d-grid">  
            <a class="btn  btn-light rounded-0 py-2 border shadow-sm" [routerLink]="[ '/setting/sync' ]">
                <img src="./assets/icon/icons8-sync-96.png" width="64" >
                <div>SYNC DATA</div>
            </a>
        </div>
        <div class="col-4 d-grid">
         
            <a class="btn  btn-light rounded-0 py-2 border shadow-sm" [routerLink]="[ '/setting/function' ]">
                <img src="./assets/icon/icons8-keyboard-96.png" width="64" >
                <div>KEYBOARD SHORTCUT</div>
            </a>
        </div>
        <div class="col-4  d-grid">
          
            <a class="btn  btn-light rounded-0 py-2 border shadow-sm" [routerLink]="[ '/setting/parking' ]">
                <img src="./assets/icon/icons8-traffic-jam-96.png" width="64" >
                <div>PARKING</div>
            </a>
        </div>
        <div class="col-4  d-grid"> 
            <a class="btn  btn-light rounded-0 py-2 border shadow-sm" [routerLink]="[ '/printing/history' ]">
                <img src="./assets/icon/icons8-history-96.png" width="64" >
                <div>PRINTING HISTORY</div>
            </a>
          
        </div>
        <div class="col-4  d-grid">
        
            <a class="btn  btn-light rounded-0 py-2 border shadow-sm" [routerLink]="[ '/setting/balance/cashIn' ]">
                <img src="./assets/icon/icons8-invoice-96.png" width="64" >
                <div>BEGINNING BALANCE</div>
            </a>
          
        </div>
        <div class="col-4  d-grid">
            <a class="btn  btn-light rounded-0 py-2 "  [routerLink]="[ '/setting/settlement' ]">
                <img src="./assets/icon/icons8-upload-96.png" width="64" >
                <div>SETTLEMENT</div>
            </a>
        </div>
        <div class="col-4  d-grid">
             <a class="btn  btn-light rounded-0 py-2 "  [routerLink]="[ '/refund' ]">
                <img src="./assets/icon/icons8-receive-cash-96.png" width="64" >
                <div>REFUND & EXCHANGE</div>
            </a> 
        </div>
        <div class="col-4  d-grid"> 
            <a class="btn  btn-light rounded-0 py-2 "  [routerLink]="[ '/setting/voucher' ]">
                <img src="./assets/icon/icons8-voucher-96.png" width="64" >
                <div>VOUCHER</div>
            </a>
        </div>
      
        <div class="col-4  d-grid">
            <a class="btn  btn-light rounded-0 py-2 "  (click)="open(content)">
                <img src="./assets/icon/icons8-printer-96.png" width="64" >
                <div>PRINTER SETUP</div>
            </a>
        </div>
        <div class="col-4  d-grid">
            <button class="btn  btn-{{isEndOfday ? 'light':'dark'}} rounded-0 py-2 "  [disabled]="!isEndOfday" (click)="endOfDay()">
                <img src="./assets/icon/icons8-shutdown-96.png" width="64" >
                <div>END  OF DAY</div>
            </button>
        </div>
      
        
    </div>
</div>



<ng-template #content let-modal>
	<div class="modal-header">
		<strong class="modal-title" id="modal-basic-title">Print Setup</strong>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body"> 
        <div class="mb-3">
            <label for="printerName" class="mb-2">Printing Name :</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="printerName" id="printerName" [(ngModel)]="printerName">
            </div>
            <div> 
                <a href="https://github.com/reynave/chandra#2-setup-driver-printer-manual-and-required" target="_blank"><small>No 2. Setup driver Printer (manual and required)</small></a>    
            </div> 
        </div>
        <div class="mb-3">
            <div class="d-grid">
                <button type="button" (click)="testPrint();" [disabled]="printerName == '' " class="btn btn-warning py-3 btn-lg">TEST PRINTING</button>
            </div>
        </div>
 
	</div>
	<div class="modal-footer">
        {{note}} 
		<button type="button" class="btn btn-outline-dark" (click)="fnSavePrinterName();">Save</button>
	</div>
</ng-template>