<app-header></app-header>

<div class="container ">
    <div class="row">
        <div class="col-12 mb-4">
            <a (click)="back();" class="btn  btn-dark  border">Back</a>
        </div>
    </div>
    <div class="row g-2">
        <div class="col-4 d-grid">
            <button class="btn btn-lg btn-primary rounded-0 py-4 " [routerLink]="[ '/' ]">HOME</button>
        </div>
        <div class="col-4 d-grid">
            <button class="btn btn-lg btn-primary rounded-0 py-4 " [routerLink]="[ '/setting/function' ]">FUNCTION</button>
        </div>
        <div class="col-4  d-grid">
            <button class="btn btn-lg btn-primary rounded-0 py-4" [routerLink]="[ '/parking' ]">PARKING</button>
        </div>
        <div class="col-4  d-grid">
            <button class="btn btn-lg btn-primary rounded-0 py-4" [routerLink]="[ '/printing/history' ]">PRINTING HISTORY</button>
        </div>
        <div class="col-4  d-grid">
            <button class="btn btn-lg btn-primary rounded-0 py-4" [routerLink]="[ '/setting/balance/cashIn' ]">BEGINNING
                BALANCE</button>
        </div>
        <div class="col-4  d-grid">
            <button class="btn btn-lg btn-primary rounded-0 py-4" [routerLink]="[ '/setting/settlement' ]">SETTLEMENT </button> 
        </div>
        <div class="col-4  d-grid">
            <button class="btn btn-lg btn-primary rounded-0 py-4" [routerLink]="[ '/refund/' ]">REFUND & EXCHANGE </button> 
        </div>
        <div class="col-4  d-grid">
            <button class="btn btn-lg btn-primary rounded-0 py-4" [routerLink]="[ '/setting/voucher' ]">VOUCHER</button> 
        </div>
        <div class="col-4  d-grid">
            <button class="btn btn-lg btn-{{isEndOfday ? 'primary':'warning'}} rounded-0 py-4" (click)="endOfDay()">END
                OF DAY </button>

        </div>
    </div>
</div>