<div class="my-2">
    <div class="row g-1 mb-1">
        <div class="col d-grid">
            <button type="button" (click)="addAmount('7')" class="btn btn-lg fs-1 py-3">7</button>
        </div>
        <div class="col d-grid">
            <button type="button" (click)="addAmount('8')" class="btn btn-lg fs-1  py-3">8</button>
        </div>
        <div class="col d-grid">
            <button type="button" (click)="addAmount('9')" class="btn btn-lg fs-1  py-3">9</button>
        </div>
    </div>
    <div class="row g-1 mb-1">
        <div class="col d-grid">
            <button type="button" (click)="addAmount('4')" class="btn btn-lg fs-1  py-3">4</button>
        </div>
        <div class="col d-grid">
            <button type="button" (click)="addAmount('5')" class="btn btn-lg fs-1  py-3">5</button>
        </div>
        <div class="col d-grid">
            <button type="button" (click)="addAmount('6')" class="btn btn-lg fs-1  py-3">6</button>
        </div>
    </div>
    <div class="row g-1 mb-1">
        <div class="col d-grid">
            <button type="button" (click)="addAmount('1')" class="btn btn-lg fs-1  py-3">1</button>
        </div>
        <div class="col d-grid">
            <button type="button" (click)="addAmount('2')" class="btn btn-lg fs-1  py-3">2</button>
        </div>
        <div class="col d-grid">
            <button type="button" (click)="addAmount('3')" class="btn btn-lg fs-1  py-3">3</button>
        </div>
    </div>
    <div class="row g-1 mb-1">
        <div class="col d-grid">
            <button type="button" (click)="addAmount('0')"
                class="btn btn-lg fs-1  py-3"><i
                class="bi bi-caret-right-fill fs-2"></i></button>
        </div>
        <div class="col d-grid">
            <button type="button" (click)="addAmount('0')"
                class="btn btn-lg fs-1  py-3">0</button>
        </div>
        <div class="col d-grid">
            <button type="button" (click)="addAmount('00')"
                class="btn btn-lg fs-1  py-3">00</button>
        </div>
     
       
    </div>

    
    <div class="row g-1 ">
        <div class="col d-grid">
            <button type="button" (click)="addAmount('00')"
                class="btn btn-lg fs-2  py-3">AC</button>
        </div>
         
        <div class="col-8 d-grid">
            <button type="button" (click)="addAmount('000')"
                class="btn btn-lg fs-2  py-3">ENTER</button>
        </div>
       
    </div>
</div>