<div class="my-2">
    <div class="row g-1 mb-1">
        <div class="col d-grid">
            <a (click)="addAmount('7')" class="btn btn-lg btn-key fs-1 py-3">7</a>
        </div>
        <div class="col d-grid">
            <a (click)="addAmount('8')" class="btn btn-lg btn-key fs-1  py-3">8</a>
        </div>
        <div class="col d-grid">
            <a (click)="addAmount('9')" class="btn btn-lg btn-key fs-1  py-3">9</a>
        </div>
    </div>
    <div class="row g-1 mb-1">
        <div class="col d-grid">
            <a (click)="addAmount('4')" class="btn btn-lg btn-key fs-1  py-3">4</a>
        </div>
        <div class="col d-grid">
            <a (click)="addAmount('5')" class="btn btn-lg btn-key fs-1  py-3">5</a>
        </div>
        <div class="col d-grid">
            <a (click)="addAmount('6')" class="btn btn-lg btn-key fs-1  py-3">6</a>
        </div>
    </div>
    <div class="row g-1 mb-1">
        <div class="col d-grid">
            <a (click)="addAmount('1')" class="btn btn-lg btn-key fs-1  py-3">1</a>
        </div>
        <div class="col d-grid">
            <a (click)="addAmount('2')" class="btn btn-lg btn-key fs-1  py-3">2</a>
        </div>
        <div class="col d-grid">
            <a (click)="addAmount('3')" class="btn btn-lg btn-key fs-1  py-3">3</a>
        </div>
    </div>
    <div class="row g-1 mb-1">
        <div class="col d-grid">
            <a (click)="addAmount('BS')" class="btn btn-lg btn-key fs-1  py-3"><i
                    class="bi bi-caret-right-fill fs-2"></i></a>
        </div>
        <div class="col d-grid">
            <a (click)="addAmount('0')" class="btn btn-lg btn-key fs-1  py-3">0</a>
        </div>
        <div class="col d-grid">
            <a (click)="addAmount('00')" class="btn btn-lg btn-key fs-1  py-3">00</a>
        </div>


    </div>


    <div class="row g-1 ">
        <div class="col d-grid">
            <a (click)="addAmount('AC')" class="btn btn-lg fs-2  py-3 btn-key">AC</a>
        </div>

        <div class="col-8 d-grid">
            <a (click)="addAmount('ENTER')" class="btn btn-lg fs-2  py-3 btn-key">ENTER</a>
        </div>

    </div>
</div>