<div class="modal-header">
    <strong class="modal-title" id="modal-basic-title">SUPERVISOR MODE, CART {{kioskUuid}}</strong>
    <a class="btn-close" (click)="close()"></a>
</div>
<div class="modal-body">
    
    <div class="row">
       
        <div class="col-12 mb-3">
            <div class="border p-1 maxHeight">
                <table class="table table-sm table-hover" *ngIf="loading != true">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>DESCRIPTION</th>

                            <th class="text-end">FINAL PRICE</th>
                            <th class="text-center">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let x of items; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{x.description}}</td>
                            <td class="text-end">{{x.price |number}}</td>
                            <td class="text-center">
                                <button type="button" (click)="voidCart(x);"
                                    class="btn btn-danger btn-sm">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center" *ngIf="loading == true">
                    loading
                </div>
            </div>
        </div>

        
    </div>

</div>
<div class="modal-footer">
    <a href="javascript:;" class="btn btn-danger " (click)="fnVoidAllCartItems()"> Delete all items</a> 
    <a class="btn btn-light border" (click)="close()">CLOSE</a>
</div>