<app-header [item]="kioskUuid+(supervisorMode ? ' - SUPERVISOR MODE ':'')"></app-header>

<div class="container" *ngIf="ilock != 1">
    <div class="row g-1">
        <div class="col-1">
            <app-widget1></app-widget1>
        </div>

        <div class="col-9">
            <div class="row g-1">

                <div class="col-9">
                    <div class="border">

                        <div class="alert alert-warning text-center" *ngIf="alert">
                            {{newItem.description}} {{newItem.barcode}}
                        </div>
 
                       <div class="p-2 mb-2">
                            <input type="text" class="form-control form-control-lg" [(ngModel)]="barcode" 
                            autofocus #formRow  (change)="addToCart();" (keyup.enter)="formRow.blur()">
                       </div>

                        <div>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>QTY</th>
                                        <th>DESCRIPTION</th>
                                        <th>PRICE</th>
                                        <th>DISC</th>
                                        <th>TOTAL</th>
                                        <th></th>
                                        <th *ngIf="supervisorMode == true"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let x of items" >
                                        <td>{{x.qty}}</td>
                                        <td>
                                            <div>
                                                <b>{{x.shortDesc}} </b>
                                            </div>
                                            <code>{{x.barcode}}</code>
                                        </td>
                                        <td>{{x.price | number}}</td>
                                        <td>{{x.discount | number}}</td>
                                        <td>{{x.total | number}}</td>
                                        <td>
                                            <button type="text" class="btn btn-warning" (click)="open(contentAddQty,x)">Add Qty</button>
                                        </td>
                                        <td *ngIf="supervisorMode == true">
                                            <button type="text" class="btn btn-danger" (click)="openComponent('cartDetail',x)">Edit Qty</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="border">
                        <div class="row g-1">
                            <div class="col-12">
                                <div class=" d-grid">
                                    <button type="button" class="btn btn-lg btn-info  rounded-0"
                                        (click)="openComponent('items')">ADD BY ITEMS</button>
                                </div>
                            </div>
                            <div class="col-6 text-center" *ngFor="let x of func">
                                <div class="border py-4"> F{{x.id}} </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-2">
            <div class="border mb-1">
                <div class="d-grid">
                    <button type="button" (click)="goToPayment()" class="btn btn-lg btn-primary rounded-0">PAYMENT</button>
                </div>
            </div>

            <div class="border  mb-1" *ngIf="supervisorMode == true">
                <div class="d-grid">
                    <button type="button" (click)="cancelTrans();"  class="btn btn-lg btn-danger rounded-0">CANCEL TRANS</button>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container" *ngIf="ilock == 1">
    <div class="row">
        <div class="col-12 text-center my-5">
            <p>
                Tansaksi sudah ditutup, silakan lajutkan ke pembayaran
            </p>
            <a [routerLink]="[ '/payment' ]">payment</a>
        </div>
    </div>
</div>

<ng-template #contentPassword let-modal  let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Supervisor Mode</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

        <div class="mb-5 text-center">
            <label for="pa01" class="my-3 h4">Required Password</label>
            <input type="password" minlength="6" name="pa01" #formPassword autofocus autocomplete="off"
                class="form-control form-control-lg pass text-center" [(ngModel)]="password" id="pa01">
       
        </div>
       
        <div class="mb-3 text-center">
            <button type="button"  class="btn btn-lg btn-outline-dark mx-1" (click)="modal.dismiss('Cross click')"> CANCEL </button>
            <button type="button" class="btn btn-lg btn-dark mx-1" (click)="fnAdminSubmit()"> SUBMIT </button>
        </div>
    </div>

</ng-template>


<ng-template #contentAddQty let-modal  let-c="close" let-d="dismiss">
    <div class="modal-header">
        <strong class="modal-title" id="modal-basic-title">Add Qty</strong>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body"> 
        <input type="number" class="form-control form-control-lg text-center" maxlength="4" [(ngModel)]="addQty"
           placeholder="0">
<!--  
        <div class="row g-2 my-3">
            <div class="col-4 d-grid" *ngFor="let x of listNumber">
                <button type="button" class="btn btn-lg btn-primary" (click)="fnAddQty(x)">{{x}}</button>
            </div>
            <div class="col-4 d-grid">
                <button type="button" class="btn btn-lg btn-warning" (click)="onSubmitQty()">ENTER</button>
            </div>
        </div> -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-outline-dark mx-2" (click)="modal.close('Save click')">Close</button>
        <button type="button" class="btn btn-lg btn-warning" (click)="onSubmitQty()">ENTER</button>
    </div>
</ng-template>