<app-header [item]="kioskUuid+(supervisorMode ? ' - SUPERVISOR MODE ':'')"></app-header>

<div class="container-fluid" *ngIf="ilock != 1">
    <div class="row g-2">

        <div class="col-5">

            <div class="row g-2">
                <div class="col-4 align-self-center">

                    <img src="./assets/img/logo.png" width="100%">

                </div>
                <div class="col-8">
                    <div class="mb-1">
                        <input type="text" class="form-control form-control-lg text-end px-4 font-cart rounded-0 "
                            placeholder="INPUT BARCODE" [(ngModel)]="barcode" autofocus #formRow (change)="addToCart();"
                            (keyup.enter)="formRow.blur()">
                    </div>
                </div>
            </div>
            <div class="bg-white  p-2 border cart cart-height " #chatContainer>

                <div class="row g-1 py-1"
                    [ngClass]="{'active-cart': x.barcode == activeCart.barcode && x.price == activeCart.price}"
                    *ngFor="let x of items" (click)="selectItem(x);">
                    <div class="col-8">
                        <div>{{x.barcode}} - {{x.description}} <span>{{x.note}}</span> </div>
                        <div>
                            {{ x.price | number}} X {{ x.qty }}
                        </div>
                        <div *ngIf="x.promotionId !== '0'">*{{x.promotionId}} {{x.promotionDescription}}*</div>
                    </div>
                    <div class="col-4 text-end">{{x.total | number}}</div>
                </div>

                <!-- <div class="me-2 my-4">
                    <div *ngFor="let item of promo_fixed" class="mb-2">
                        <span [innerHTML]="item['detail']['reminder']"></span> 
                    </div>
                </div> -->

                <div class="me-2 my-4">
                    <div *ngFor="let item of promo_fixed" class="mb-1">
                        <span [innerHTML]=" item['detail']['description'] "></span>
                    </div>
                    <div [innerHTML]="tebus_murah" class="mb-1"> </div>
                </div>
                <div class="me-2 mb-4">
                    <div *ngFor="let item of promo_fixed" class="mb-2">
                        {{ item['detail']['reminder'] }}
                    </div>
                </div>


                <!-- <div class="bg-warning p-2">
                    <p>
                        Demo Version
                    </p>
                    <p>
                        ID supervisor : 123456789<br>
                        password : 123213
                    </p>
                </div> -->
            </div>


        </div>


        <div class="col-4">
            <div class="  mb-2">

                <div class="border p-2 bg-white mb-2">
                    <div class="row ">
                        <div class="col-7 font-cart">SUB TOTAL:</div>
                        <div class="col-5 text-end font-cart">{{bill['originPrice'] | number}}</div>
                    </div>
                    <div class="row ">
                        <div class="col-6 font-cart">DISCOUNT:</div>
                        <div class="col-6 text-end font-cart">{{bill['discount'] | number}}</div>
                    </div>
                    <div class="row ">
                        <div class="col-6 font-cart">TOTAL:</div>
                        <div class="col-6 text-end font-cart"><strong>{{bill['total'] | number}}</strong></div>
                    </div>
                </div>
                <div class="row g-1">
                    <div class="col"> 
                        <input type="number" class="form-control form-control-lg text-center rounded-0" placeholder="1" [(ngModel)]="qtyItem">
                    </div>
                    <div class="col d-grid">
                        <button type="button" class="btn  text-center btn-{{setKey == 'QTY' ? 'primary':'light' }}  border py-2"  (click)="fnKeyboardSet('QTY');">
                            <i class="bi bi-{{setKey == 'QTY' ? 'check2-':'' }}square me-2"></i>  <b>QTY </b>
                        </button>
                    </div>

                    <div class="col d-grid">
                        <button type="button" class="btn  text-center btn-{{setKey == 'BARCODE' ? 'primary':'light' }} border py-2"   (click)="fnKeyboardSet('BARCODE');">
                            <i class="bi bi-{{setKey == 'BARCODE' ? 'check2-':'' }}square me-2"></i> <b>BARCODE</b>
                        </button>
                    </div>
                   
                </div>
                <app-key-num (newItemEvent)="addItem($event)"></app-key-num>

            </div>


        </div>
        <div class="col-3">
            <div class="mb-2">

                <div class="row g-1 mb-2">
                    <div class="col-6" *ngFor="let x of customFunc; let i = index">
                        <div class="d-grid">
                            <a class="btn px-1 py-2 border rounded-0 bg-white" style="min-height: 55px;"
                                (click)="callFunction(x)">
                                <div class="row g-1">
                                    <div class="col-3 align-self-center">
                                        <img *ngIf="x=='1'" src="./assets/icon/icons8-search-more-96.png" width="100%">
                                        <img *ngIf="x=='2'" src="./assets/icon/icons8-plus-96.png" width="100%">
                                        <img *ngIf="x=='3'" src="./assets/icon/icons8-card-payment-96.png" width="100%">
                                        <img *ngIf="x=='4'" src="./assets/icon/icons8-edit-96.png" width="100%">
                                        <img *ngIf="x=='5'" src="./assets/icon/icons8-cancel-96.png" width="100%">
                                        <img *ngIf="x=='6'" src="./assets/icon/icons8-bonus-96.png" width="100%">
                                        <img *ngIf="x=='7'" src="./assets/icon/icons8-price-96.png" width="100%">
                                        <img *ngIf="x=='12'" src="./assets/icon/icons8-back-96.png" width="100%">
                                    </div>
                                    <div class="col-9 lh-sm text-start  align-self-center">
                                        <small [innerHTML]="callLabel(x)"></small>
                                    </div>
                                </div>

                            </a>
                        </div>
                    </div>

                </div>

                <div class="d-grid" *ngIf="ilock != 1">
                    <button type="button" *ngIf="supervisorMode == true" (click)="supervisorMode = false;"
                        class="btn btn-lg  btn-danger text-center fs-6 py-3 mb-2 text-white">
                        CLOSE SUPERVISOR
                    </button>
                </div>
                <div class="row g-1 ">
                    <div class="col-6">
                        <div class="d-grid">

                            <button type="button" [disabled]="activeCart.length == 0 " (click)="removeItem()"
                                class="btn btn-lg  btn-danger text-center  fs-6 py-3 mb-1 text-white">
                                REMOVE
                            </button>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-grid">
                            <button type="button" (click)="goToPayment()" [disabled]="items.length <= 0"
                                class="btn btn-lg  btn-primary text-center  fs-6 py-3 mb-1 text-white">
                                PAYMENT
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row g-1 mb-2">
                    <div class="col-6 d-grid">
                        <button type="button" class="btn btn-lg  bg-white text-center  fs-6 py-3 mb-1 "
                            (click)="back();">
                            Back
                        </button>
                    </div>

                    <div class="col-6 d-grid">
                        <button type="button" class="btn btn-lg  bg-white text-center  fs-6 py-3 mb-1 "
                            [routerLink]="[ '/parking' ]">
                            Parking
                        </button>
                    </div>
                </div>



            </div>
        </div>



    </div>
</div>

<div class="container" *ngIf="ilock == 1">
    <div class="row">
        <div class="alert text-center alert-warning">
            <p>
                Tansaksi sudah ditutup, silakan lajutkan ke pembayaran
            </p>
            <a [routerLink]="[ '/payment' ]" class="btn  btn-lg btn-danger"
                [queryParams]="{kioskUuid:kioskUuid}">Payment</a>
        </div>

    </div>
</div>


<ng-template #contentPassword let-modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Supervisor Mode</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

        <div class="mb-5 text-center">
            <label for="pa01" class="my-3 h4">Required Password</label>
            <input type="password" minlength="6" name="pa01" #formPassword autofocus autocomplete="off"
                class="form-control form-control-lg pass text-center" [(ngModel)]="password" id="pa01">

        </div>

        <div class="mb-3 text-center">
            <button type="button" class="btn btn-lg btn-outline-dark mx-1" (click)="modal.dismiss('Cross click')">
                CANCEL </button>
            <button type="button" class="btn btn-lg btn-dark mx-1" (click)="fnAdminSubmit()"> SUBMIT </button>
        </div>
    </div>

</ng-template>


<ng-template #contentAddQty let-modal let-c="close" let-d="dismiss">

    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <strong>ADD QTY</strong>
            </div>
        </div>
        <div class="row g-1 mb-3 cart">

            <div class="col-8">
                <div class="border bg-light py-1 px-2">
                    <div>
                        <strong>
                            {{activeCart.barcode}} - {{activeCart.description}}
                        </strong>
                    </div>
                    <div>
                        <strong *ngIf="activeCart.promotionDescription != null ">
                            *{{activeCart.promotionDescription}}*
                        </strong>
                    </div>

                    <h4>
                        Rp {{activeCart.price |number}}
                    </h4>
                </div>
            </div>
            <div class="col-3">
                <div class="input-group mb-3">
                    <input type="number" class="form-control form-control-lg text-center" maxlength="4"
                        [(ngModel)]="addQty" placeholder="0">
                </div>
            </div>
            <div class="col-1  text-center">
                <button type="button" class="btn-close" aria-label="Close"
                    (click)="modal.dismiss('Cross click')"></button>
            </div>
        </div>
        <div class="row">
            <app-key-num (newItemEvent)="fnAddQty($event)"></app-key-num>
        </div>
    </div>
</ng-template>




<div class="notif">
    <div class="content">
        <ngb-toast *ngIf="alert" [header]="'ADD ITEM'" [autohide]="false" (hidden)="close()">
            <div class="cart">
                <div class="mb-2">{{newItem.barcode}} - {{newItem.description}}</div>
                <div class="row">
                    <div class="col-6"><strong></strong></div>
                    <div class="col-6 text-end"> <strong>RP {{newItem.price1 | number}}</strong></div>
                </div>
            </div>
        </ngb-toast>
    </div>
</div>