<app-header [item]="kioskUuid+(supervisorMode ? ' - SUPERVISOR MODE ':'')"></app-header>

<div class="container-fluid">
    <div class="row g-2">

        <div class="col-8">
            <div *ngIf="ilock != 1">
                <div class="mb-1">
                    <input type="text" class="form-control form-control-lg text-end px-4 font-cart"
                        placeholder="Input Barcode" [(ngModel)]="barcode" autofocus #formRow (change)="addToCart();"
                        (keyup.enter)="formRow.blur()">
                </div>
                <div class="bg-light  p-2 border cart cart-height " #chatContainer>

                    <div class="bg-white px-3 py-2 border rounded mb-2 pointer" (click)="selectItem(x);"
                        *ngFor="let x of items"
                        [ngClass]="{'active-cart': x.id == activeCart.id && x.price == activeCart.price}">
                        <!-- (click)="open(contentAddQty, activeCart)" -->
                        <div class="row g-1 ">
                            <div class="col-12">
                                <div>{{x.barcode}} - {{x.description}} <span>{{x.note}}</span> </div>
                                <div *ngIf="x.promotionId !== '0'">*{{x.promotionDescription}}*</div>
                            </div>
                            <div class="col-10">
                                <div>{{x.qty}} x RP {{x.price | number}}
                                    <span class="me-4" *ngIf="x.discount > 0"> DISC({{x.discount | number}})</span>
                                </div>
                            </div>
                            <div class="col-2 text-end">
                                {{x.total | number}}
                            </div>
                        </div>


                    </div>

                    <!-- <div *ngIf="freeItem.length>0" class="px-3"> <small>Promo Free Items</small></div>
                    <div class="bg-white px-3 py-2 border rounded mb-2 pointer" *ngFor="let x of freeItem"
                        [ngClass]="{'active-cart': x.id == activeCart.id && x.price == activeCart.price}"> 
                        <div class="row g-1 ">
                            <div class="col-12">
                                <div>{{x.barcode}} - {{x.description}} <span>{{x.note}}</span> ({{x.qty}} Items)</div>
                                <div *ngIf="x.promotionId !== '0'">*{{x.promotionDescription}}*</div>
                            </div> 
                        </div>
                    </div> -->

                    <div class="me-2 mb-4">
                        <div *ngFor="let item of promo_fixed" class="mb-1">
                            <span [innerHTML]=" item['detail']['description'] "></span>
                        </div>
                        <div [innerHTML]="tebus_murah" class="mb-1"> </div>
                    </div>
                    <div class="me-2 mb-4">
                        <div *ngFor="let item of promo_fixed" class="mb-1">
                            {{ item['detail']['reminder'] }}
                        </div>
                    </div>


                    <div class="bg-warning p-2">
                        <p>
                            Demo Version
                        </p>
                        <p>
                            ID supervisor : 123456789<br>
                            password : 123213
                        </p>
                    </div>
                </div>
            </div>

            <div *ngIf="ilock == 1">

                <div class="alert text-center alert-warning">
                    <p>
                        Tansaksi sudah ditutup, silakan lajutkan ke pembayaran
                    </p>
                    <a [routerLink]="[ '/payment' ]" class="btn btn-dark"
                        [queryParams]="{kioskUuid:kioskUuid}">Payment</a>
                </div>

            </div>
        </div>

        <div class="col-4">
            <div class="maxHeightWidget  mb-2">

                <div class="border p-2 bg-white rounded mb-1">
                    <div class="row ">
                        <div class="col-7 font-cart">SUB TOTAL:</div>
                        <div class="col-5 text-end font-cart">{{bill['originPrice'] | number}}</div>
                    </div>
                    <div class="row ">
                        <div class="col-6 font-cart">DISCOUNT:</div>
                        <div class="col-6 text-end font-cart">{{bill['discount'] | number}}</div>
                    </div>
                    <div class="row ">
                        <div class="col-6 font-cart">TOTAL:</div>
                        <div class="col-6 text-end font-cart"><strong>{{bill['total'] | number}}</strong></div>
                    </div>
                </div>
                <div class="d-grid" *ngIf="ilock != 1">
                    <button type="button" *ngIf="supervisorMode == true" (click)="supervisorMode = false;"
                        class="btn btn-lg  btn-danger text-center fs-6 py-3 mb-2 text-white">
                        CLOSE SUPERVISOR
                    </button>

                </div>
                <div class="d-grid" >
                    <button type="button" (click)="goToPayment()" [disabled]="bill['total'] <= 0"
                        class="btn btn-lg  btn-danger text-center  fs-6 py-3 mb-1 text-white">
                        PAYMENT
                    </button>
                </div>
                <!-- <div class="d-grid">
                    <button type="button" (click)="openComponent('itemTebusMurah')"
                        class="btn btn-lg  btn-info text-center fs-6 py-3 mb-2 text-white">
                        TEBUS MURAH
                    </button>
                </div> -->
                <div class="row g-1 mb-2">
                    <div class="col-6" *ngFor="let x of customFunc; let i = index">
                        <div class="d-grid">
                            <a class="py-2 px-0 btn bg-{{x == 0 ? 'white':'primary'}} text-{{x != 0 ? 'white':'dark'}} border"  (click)="callFunction(x)">
                                <small class="mb-0 pb-0">F{{i+1}}</small>
                                <div class="lh-sm">
                                    <b [innerHTML]="callLabel(x)"></b> 
                                </div>
                            </a>
                        </div>
                    </div>
                </div>



            </div>
            <div class="row g-1">
                <div class="col-6 d-grid">
                    <button type="button" class="btn  text-center mb-1 bg-white border py-3 " (click)="back();">
                        Back
                    </button>
                </div>

                <div class="col-6 d-grid">
                    <button type="button" class="btn  text-center mb-1 bg-white border py-3 "
                        [routerLink]="[ '/parking' ]">
                        Parking
                    </button>
                </div>
            </div>

        </div>


    </div>
</div>



<ng-template #contentPassword let-modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Supervisor Mode</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

        <div class="mb-5 text-center">
            <label for="pa01" class="my-3 h4">Required Password</label>
            <input type="password" minlength="6" name="pa01" #formPassword autofocus autocomplete="off"
                class="form-control form-control-lg pass text-center" [(ngModel)]="password" id="pa01">

        </div>

        <div class="mb-3 text-center">
            <button type="button" class="btn btn-lg btn-outline-dark mx-1" (click)="modal.dismiss('Cross click')">
                CANCEL </button>
            <button type="button" class="btn btn-lg btn-dark mx-1" (click)="fnAdminSubmit()"> SUBMIT </button>
        </div>
    </div>

</ng-template>


<ng-template #contentAddQty let-modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <strong class="modal-title" id="modal-basic-title">Add Qty</strong>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

        <div class="mb-2">
            <div>
                {{activeCart.barcode}} - {{activeCart.description}}
            </div>
            <div *ngIf="activeCart.promotionDescription != null ">
                *{{activeCart.promotionDescription}}*
            </div>
            <div>
                Rp {{activeCart.price |number}}
            </div>

        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">QTY</span>
            <input type="number" class="form-control form-control-lg text-center" maxlength="4" [(ngModel)]="addQty"
                placeholder="0">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-outline-dark mx-2"
            (click)="modal.close('Save click')">Close</button>
        <button type="button" class="btn btn-lg btn-warning" (click)="onSubmitQty()">ENTER</button>
    </div>
</ng-template>



<div class="notif">
    <div class="content">
        <ngb-toast *ngIf="alert" [header]="'ADD ITEM'" [autohide]="false" (hidden)="close()">
            <div class="cart">
                <div class="mb-2">{{newItem.barcode}} - {{newItem.description}}</div>
                <div class="row">
                    <div class="col-6"><strong></strong></div>
                    <div class="col-6 text-end"> <strong>RP {{newItem.price1 | number}}</strong></div>
                </div>
            </div>
        </ngb-toast>
    </div>
</div>