.pass{
    letter-spacing: 10px;
    font-size: 3rem;
}

.active-cart{
    background-color: #b9b904 !important;
    color: #fff !important;
   
}

.maxHeightWidget{
    height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}
small{
    font-size: 0.8rem;

}

.style1{
    font-family: var(--font-roboto-mono);
}